OPENAI_LOGIN_TYPE=email
OPENAI_LOGIN_EMAIL=you@example.com
OPENAI_LOGIN_PASSWORD=replace_with_password
OPENAI_LOGIN_OTP_SECRET=
PROXY_SERVER=

OPENAI_API_TOKEN=replace_with_local_api_token
OPENAI_CHAT_MODEL=gpt-5-3

TOS_ACCESS_KEY=
TOS_SECRET_KEY=
TOS_ENDPOINT=
TOS_REGION=
TOS_BUCKET=
